@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";
@import "partials/layout";
@import "partials/nav";
@import "partials/projects";
@import "partials/intro";
@import "partials/cv";
@import "partials/parallax";
@import "partials/icons";
$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
