<ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-profile">
              <%= image_tag 'images/profile.jpg', :id => 'profile'%>
            </div>
            <div class="bullet-content">
              <h2>Scott Sallinen</h2>
              <p>I hold a Bachelors of Applied Sciences in Computer Engineering from the University of British Columbia, and I currently work with highly parallel graph processing.</p>

              <p>I enjoy all things technology! I have an unrequited love for Java, even though I work mostly in C, and I can't stop using JSON formatting. (I've tried)</p>

              <p>I'm also interested in Bitcoin from both a user and developer point of view.</p>
              <%= partial 'partials/icons' %>
              </div>
          </li>
        </ul>
