<ul class="bullets">
    <li class="bullet three-col-bullet">
            <div class="bullet-content">
              <%= partial 'markdown/about' %>
              <%= partial 'partials/icons' %>
              </div>
          </li>
        </ul>
