<div class="scroll-on-page">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#scroll-link-1">Education</a>
      <a class="scroll-on-page-link" href="#scroll-link-2">Awards</a>
      <a class="scroll-on-page-link" href="#scroll-link-3">Societies</a>
    </aside>

      <article>
        <section>
          <h4 id="scroll-link-1">Education</h4>
          <ul>
            <li>Master of Applied Science (M.A.Sc.), Computer Engineering</li>
            <li>The University of British Columbia</li>
            <li>2014 - 2016 (expected)</li>
          </ul>
          
        </section>
        <section>
          <h4 id="scroll-link-2">Awards</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
        </section>
        <section>
          <h4 id="scroll-link-3">Societies</h4>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aliquid necessitatibus, repudiandae veniam labore, consequatur maiores dolore unde non deleniti, aliquam minima ex nulla error eveniet vel tempore, in incidunt?</p>
          <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
        </section>
      </article>
    </div>

