<div class="scroll-on-page">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#scroll-link-education">Education</a>
      <a class="scroll-on-page-link" href="#scroll-link-awards">Awards</a>
      <a class="scroll-on-page-link" href="#scroll-link-societies">Societies</a>
    </aside>

      <article>
        <section>
          <h4 id="scroll-link-education">Education</h4>
          <p>
            <ul>
              <li>Master of Applied Science (M.A.Sc.), Computer Engineering</li>
              <li>The University of British Columbia</li>
              <li>2014 - 2016 (expected)</li>
            </ul>
          </p>
          <p>
            <ul>
              <li>Bachelor of Applied Science (B.A.Sc.), Computer Engineering</li>
              <li>The University of British Columbia</li>
              <li>2010 - 2014</li>
            </ul>
          </p>
        </section>
        <section>
          <h4 id="scroll-link-awards">Awards</h4>
            <p>First Place Winner, IEEE Project Fair 2012,  Junior Division</p>
            <p>UBC Entry Scholarship</p>
            <p>Masters Research Grant</p>
        </section>
        <section>
          <h4 id="scroll-link-societies">Societies</h4>
            <p><%= link_to "NetSysLab", "http://netsyslab.ece.ubc.ca/" %></p>
            <p>CIRA Member</p>
            <p>APEG-BC Student Member</p>
        <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
        </section>
      </article>
    </div>

