<div class="intro-text">
  <div id="js-parallax-window" class="parallax-window">
      <div class="parallax-static-content">
        <%= image_tag 'images/profile.jpg', :id => 'profile'%>
        <h1>Scott Sallinen</h1>
        <h4>Masters Student and Graduate Researcher</h4>
      </div>
      <div id="js-parallax-background" class="parallax-background"></div>
    </div>
</div>
