<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">About Me</a>
    <div class="tab-content">
     <p>I hold a Bachelors of Applied Sciences in Computer Engineering from the University of British Columbia, and I currently work with highly parallel graph processing.</p>

      <p>I enjoy all things technology! I have an unrequited love for Java, even though I work mostly in C, and I can't stop using JSON formatting. (I've tried)</p>

      <p>I'm also interested in Bitcoin from both a user and developer point of view.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Publications</a>
    <div class="tab-content">
      <p>Publication One</p>
      <p>Publication Two</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Projects</a>
    <div class="tab-content">
      <%= partial "partials/projects" %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Curriculum Vitae</a>
    <div class="tab-content">
      <%= partial "partials/cv" %>
  </div>
  </li>
</ul>

