<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">About Me</a>
    <div class="tab-content">
      <%= partial 'partials/about' %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Publications</a>
    <div class="tab-content">
      <%= partial "partials/publications" %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Projects</a>
    <div class="tab-content">
      <%= partial "partials/projects" %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Curriculum Vitae</a>
    <div class="tab-content">
      <%= partial "partials/cv" %>
  </div>
  </li>
</ul>

