<div class="scroll-on-page">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#scroll-link-research">Research</a>
      <a class="scroll-on-page-link" href="#scroll-link-technical">Technical</a>
    </aside>

      <article>
        <section>
          <h4 id="scroll-link-research">Research</h4>
          <ul>
            <li><%= partial "markdown/projects/research" %></li>
          </ul>
        </section>
        <section>
          <h4 id="scroll-link-technical">Technical</h4>
          <ul>
            <li>
            <li><%= partial "markdown/projects/technical" %></li>
            </li>
          </ul>
        <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
        </section>
      </article>
    </div>
