<div class="scroll-on-page">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#scroll-link-research">Research</a>
      <a class="scroll-on-page-link" href="#scroll-link-technical">Technical</a>
    </aside>

      <article>
        <section>
          <h4 id="scroll-link-research">Research</h4>
          <ul>
            <li>
              <h2>Consistent-Hashing Based Storage </h2>
              <p>Developed a scalable system that distributes traffic equally, independent of the amount of nodes in the system.</p>
              <p>Deployed the program successfully across hundreds of participating nodes with the research system PlanetLab.</p>
              <p>Achieved a high throughput of requests (hundreds per second per node) while still handling failure cases (Hotjoin/leave, cold leave, etc.) and redundancy.</p>
            </li>
          </ul>
        </section>
        <section>
          <h4 id="scroll-link-technical">Technical</h4>
          <ul>
            <li>
              <h2>Android Nutrition Application</h2>
              <p>Created a mobile nutrition application with features for recipe viewing and creation, calorie measuring, and graphing.</p>
              <p>Developed using Google’s Android SDK in collaboration with ReflexWireless.</p>
              <p>Implementing Bluetooth connectivity to ReflexWireless kitchen scales.</p>
              <p>Built rapport with professional clientele under the guidance of course instructors.</p>
              <p>Organized and scheduled a group of 5 team members.</p>
            </li>
            <li>
              <h2>Active Gimbal Camera Stabilizer and Robotic Control</h2>
              <p>Led a team of six engineers in construction of a stabilized camera platform, receiving First Place in the IEEE Project Fair 2012.</p>
              <p>Expanded the project to have joystick-controllable pitch roll and yaw, for a fully stabilized spherical camera field of view.</p>
              <p>Developed and implemented a parallel processing control system between two micro-controllers with PC based user control.</p>
            </li>
          </ul>
        <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
        </section>
      </article>
    </div>
