<ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
        " alt="">
            </div>
            <div class="bullet-content">
              <h2>Consistent-Hashing based Storage </h2>
              <p>Developed a scalable system that distributes traffic equally, independent of the amount of nodes in the system.
              Deployed the program successfully across hundreds of participating nodes with the research system PlanetLab.
              Achieved a high throughput of requests (hundreds per second per node) while still handling failure cases (Hotjoin/leave, cold leave, etc.) and redundancy.</p>
              </div>
          </li>
          <li class="bullet three-col-bullet">
            <div class="bullet-icon bullet-icon-2">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            </div>
            <div class="bullet-content">
              <h2>Android Nutrition Application</h2>
              <p>Created a mobile nutrition application with features for recipe viewing and creation, calorie measuring, and graphing.
              Developed using Google’s Android SDK in collaboration with ReflexWireless.
              Implementing Bluetooth connectivity to ReflexWireless kitchen scales.
              Built rapport with professional clientele under the guidance of course instructors.
              Organized and scheduled a group of 5 team members.</p>
            </div>
          </li>
          <li class="bullet three-col-bullet">
            <div class="bullet-icon bullet-icon-3">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
            </div>
            <div class="bullet-content">
              <h2>Active Gimbal Camera Stabilizer and Robotic Control</h2>
              <p>Led a team of six engineers in construction of a stabilized camera platform, receiving First Place in the IEEE Project Fair 2012.
              Expanded the project to have joystick-controllable pitch roll and yaw, for a fully stabilized spherical camera field of view.
              Developed and implemented a parallel processing control system between two micro-controllers with PC based user control.</p>
            </div>
          </li>
        </ul>
