<div class="scroll-on-page">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#scroll-link-1">2015</a>
      <a class="scroll-on-page-link" href="#scroll-link-2">2014</a>
      <a class="scroll-on-page-link" href="#scroll-link-3">2013</a>
      <a class="scroll-on-page-link" href="#scroll-link-4">2012</a>
    </aside>

      <article>
        <section>
          <h4 id="scroll-link-1">2015</h4>
          <p>
           Publication One
          </p>
          <p>
           Publication Two
          </p>
        </section>
        <section>
          <h4 id="scroll-link-2">2014</h4>
          <p>
           Publication Three
          </p>
          <p>
           Publication Four
          </p>
        </section>
        <section>
          <h4 id="scroll-link-3">2013</h4>
          <p>
           Publication Five
          </p>
        </section>
        <section>
          <h4 id="scroll-link-4">2012</h4>
          <p>
           Publication Six
          </p>
        <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
        </section>
      </article>
    </div>

